html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1 1 auto;
    z-index: 1;
    opacity: .8;
    background-color: white;
    border: 2px solid transparent;
    padding-bottom: 15px;
}

.headerTitle {
    font: 20px Corbel Light;
    font-size: clamp(10px, 100%, 20px);
    width: 200px;
    height: 100%;
    white-space: nowrap;
    transition: .5s ease;
    padding: 0px 20px;
    flex-shrink: 100;
}

#titleText {
    font: 20pt Corbel Light;
}

#titleText span {
    font: 12pt Corbel Light;
    margin-left: 40px;
}

.header a {
    margin: 0px 20px;
    font: 16px Corbel Light;
    text-decoration: none;
    border-bottom: 1px solid #1a1a1a;
    white-space: nowrap;
}

a[class="noUnderline"] {
    border-bottom: none;
    flex-shrink: 0;
}

.header div {
    justify-content: start;
}

#githubLogo {
    width: 24px;
    height: 24px;
}

#instagramLogo {
    width: 24px;
    height: 24px;
}

#emailIcon {
    width: 25px;
    height: 17px;
}

#ocaIcon {
    width: 50px;
    height: 54px;
}

.headerLinkContainer { /* Resizes link container for the car highlighting */
    height: 100%;
    border: 2px solid transparent;
    transition: .5s ease;
    flex-shrink: 1;
}

h2 {
    position: relative;
    margin: 0;
    color:black;
    font: 20pt Corbel Light;
    padding: 15px 0px 5px;
    background-color: white;
    width: 100%;
    opacity: .8;
    text-align: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.translateCenter { /* works with 'position: absolute' or 'position: relative' */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}