html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: #dcdcdc;
}

#footer > * {
    padding-bottom: 40px;
}

#footerLinkContainer {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1 1 auto;
    z-index: 1;
    border: 2px solid transparent;
    padding-top: 40px;
}

#titleText {
    font: 20pt Corbel Light;
}

#titleText span {
    font: 12pt Corbel Light;
    margin-left: 40px;
}

#footerLinkContainer a {
    margin: 0px 20px;
    font: 16px Corbel Light;
    text-decoration: none;
    white-space: nowrap;
}

a[class="noUnderline"] {
    border-bottom: none;
    flex-shrink: 0;
}

#footerLinkContainer div {
    justify-content: start;
}

#githubLogo {
    width: 24px;
    height: 24px;
}

#instagramLogo {
    width: 24px;
    height: 24px;
}

#emailIcon {
    width: 25px;
    height: 17px;
}

#ocaIcon {
    width: 50px;
    height: 54px;
}

#linkedInIcon {
    width: 24px;
    height: 24px;
}

.headerLinkContainer { /* Resizes link container for the car highlighting */
    height: 100%;
    border: 2px solid transparent;
    transition: .5s ease;
    flex-shrink: 1;
}

.headerLinkContainer:hover {
    border: 2px solid gold;
    background-color: #fffadebe;
}

.footerPhrase {
    padding-top: 40px;
}

#footerEmail {
    text-decoration: none;
    padding: 10px 20px;
    background-color: grey;
    border: 1px solid dimgrey;
    color: whitesmoke;
    font: 12pt 'Corbel Light';
    width: max-content;
    transition: .25s ease;
}

.footerEmail:hover {
    box-shadow: 0px 0px 6px 0 royalblue;
}

.copyright {
    color: grey;
    font: 12pt 'Corbel Light';
}

#copyrightYear {
    margin-left: 10px;
}

h2 {
    position: relative;
    margin: 0;
    color:black;
    font: 22pt Corbel Light;
    padding: 15px 0px 5px;
    width: 100%;
    text-align: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.translateCenter { /* works with 'position: absolute' or 'position: relative' */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}