body {
    display: block;
}

h1 {
    height: 38vh;
    font: 25pt Corbel;
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 0;
    padding-bottom: 5vh;
}

h1 > div {
    font: 21pt Corbel Light;
    padding-top: 3px;
}

h2.aboutMeHeader {
    padding-bottom: 18px;
}

#car {
    z-index: 3;
    width: 24px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#carImg {
    max-width: max-content;
}

#instructions {
    position: fixed;
    top: 86%;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border: 1px solid lightgray;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: white;
    transition: 1s ease;
    opacity: 0;
    z-index: 2;
}

#instructions .translateCenter { /* Instruction message icon and text */
    width: 100%;
}

#instructions div div { /* Instruction message text */
    font: 12pt Corbel Light;
    display: inline-block;
    position: relative;
    top: -4px;
    margin: 2px 12px;
}

#instructions div #driveText {
    top: -5px;
}

#instructions:hover {
    border: 1px solid gold;
    background: #fffade;
}

#instructions:hover #closeInstructions {
    opacity: 1;
}

#closeInstructions {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    font: 10pt Arial;
    transition: .75s ease;
    opacity: 0;
}

#arrowDownContainer {
    position: absolute;
    right: 3%;
    bottom: 0vh;
    height: 40px;
    animation: upAndDown 2s;
    animation-iteration-count: infinite;
    transition: .5s ease;
    z-index: 2;
}

@keyframes upAndDown {
    0%   {bottom: 1vh;}
    50%  {bottom: 6vh;}
    100% {bottom: 1vh;}
}

#arrowKeys {
    max-width: 40px;
    max-height: 40px;
    padding-top: 5px;
}

#enter {
    max-width: 30px;
    max-height: 30px;
    padding-top: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#car:focus-visible {
    outline: none;
}

#content {
    position: relative;
    flex: 1 1 auto;
}

canvas {
    position: absolute;
    left: 0px;
}

#projectGrid {
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-rows: 6% 33% 20% 33% 10%;
    grid-template-columns: 10% 30% 20% 30% 10%;
}

.project {
    position: relative;
}

#projHF {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
}

.quickAccessAccount {
    position: absolute;
    top: 100%;
    right: 0%;
    transform: translateY(-100%);
    background-color: white;
    border: 1px solid black;
    border-top-width: 0px;
    font: 10pt Arial;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: .5s ease;
    z-index: 0;
    pointer-events: none;
}

#projHF:hover .quickAccessAccount {
    opacity: 1;
    transform: translateY(0%);
}

.showAccount {
    opacity: 1;
    transform: translateY(0%);
}

#projGV {
    grid-column: 2;
    grid-row: 4;
}

#projSF {
    grid-column: 4;
    grid-row: 4;
}

.projectText {
    font: 24px Corbel Light;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.projectDescrip {
    font-size: small;
}

#hiddenFields {
    background-color: #43c873; /* #43c170; /* #1ed760; /* black */
}

#projHFText {
    background-color: #4ad77b; /* #4bd17a; /* #00ba42; /* #3d3d3d */
}

#projHFText .projectDescrip {
    color: #f2fff7; /* #e1ffec; /* #b6ffcf; /* rgb(156, 156, 156) */
}

#graphVisualizer {
    background-color: blue;
}

#projGVText {
    background-color: #0000e0;
}

#projGVText .projectDescrip {
    color: #bcbcff;
}

#spotifyBar {
    background-color: #1ed760;
    text-align: center;
}

#projSBText {
    background-color: #00ba42;
}

#projSBText .projectDescrip {
    color: #b6ffcf;
}

#snowFinder {
    background-color: #f4f4f4;
}

#projSFText {
    background-color: white;
    color: black;
}

#projSFText .projectDescrip {
    color: grey;
}

figure {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid dimgray;
    margin: 0;
    background-color: lightgrey;
}

img, .projectText {
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure a {
    font-family: Corbel Light;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    padding: 8px 16px;
    background-color: snow;
    border: 1px solid black;
    text-align: center;
}

figure:hover img, figure:hover .projectText {
    opacity: 0.3;
}

.imgHover {
    opacity: 0.3;
}

figure:hover a {
    opacity: 1;
}

.textHover {
    opacity: 1;
}

#meFig img {
    background-color: white;
}

#meFig div { /* The gradient at the bottom */
    position: absolute;
    bottom: 0%;
    padding: 4% 0px;
    z-index: 2;
    text-align: left;
}

#meFig div::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    z-index: -1;
    display:inline-block;
    background-image: linear-gradient(to top, #1a1a1a, transparent);
}

#aboutMeText {
    padding-left: 14px;
    display: inline-block;
    font-size: 15pt;
}

.wall {
    /* background: url("./resources/brickwall.png");
    background-size: 155px 110px; */
    background-color: grey;
    border: 1px solid black;
}

.aboutMeSection {
    padding-bottom: 25px;
}

.content {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    border: 1px solid grey;
}

#bigPicture {
    position: relative;
    height: 70vh;
    padding: 25px;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

.bioContent {
    position: relative;
    padding: 25px;
    font: 14pt Corbel;
    width: 100%;
    height: 70vh;
    background-color: #f0f0f0;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
    display: table;
}

.bioContent > div {
    display: table-cell;
    vertical-align: middle;
}

.bioContent > div * {
    margin: 0 0 1.3em;
}

#bigPicture:hover img {
    opacity: 1;
}

@media (max-width: 1274px) {
    #bigPicture {
    }
}

@media (max-width: 850px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    #bigPicture {
        padding: 30px;
        height: 60vw;
        min-height: 300px;
    }
}

@media (max-width: 652px) {
    .projectText {
        font-size: calc(1.8vw * 1.9);
    }
} 