body {
    overflow-y: auto;
}

#car {
    z-index: 2;
    width: 24px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#carImg {
    max-width: max-content;
}

#instructions {
    z-index: 3;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid black;
    text-align: center;
    width: 200px;
    height: 125px;
    background-color: white;
    transition: 1s ease;
    opacity: .8;
}

#instructions div {
    width: 100%;
}

#closeInstructions {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    font: 10pt Arial;
    transition: .5s ease;
    opacity: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#car:focus-visible {
    outline: none;
}

#content {
    position: relative;
    flex: 1 1 auto;
}

canvas {
    position: absolute;
    left: 0px;
}

.projectGrid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 6% 33% 20% 33% 10%;
    grid-template-columns: 10% 30% 20% 30% 10%;
}

.project {
    position: relative;
}

#projHF {
    grid-column: 2;
    grid-row: 2;
}

#projGV {
    grid-column: 4;
    grid-row: 2;
}

#projSF {
    grid-column: 2;
    grid-row: 4;
}

#aboutMe {
    grid-column: 4;
    grid-row: 4;
}

.projectText {
    font: 22px Corbel Light;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.projectDescrip {
    font-size: small;
}

#hiddenFields {
    background-color: #1ed760; /* black */
}

#projHFText {
    background-color: #00ba42; /* #3d3d3d */
}

#projHFText .projectDescrip {
    color: #b6ffcf; /* rgb(156, 156, 156) */
}

#graphVisualizer {
    background-color: blue;
}

#projGVText {
    background-color: #0000e0;
}

#projGVText .projectDescrip {
    color: #bcbcff;
}

#spotifyBar {
    background-color: #1ed760;
    text-align: center;
}

#projSBText {
    background-color: #00ba42;
}

#projSBText .projectDescrip {
    color: #b6ffcf;
}

#snowFinder {
    background-color: #f4f4f4;
}

#projSFText {
    background-color: white;
    color: black;
}

#projSFText .projectDescrip {
    color: black;
}

figure {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid dimgray;
    margin: 0;
    background-color: lightgrey;
}

img, .projectText {
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure a {
    font-family: Corbel Light;
    transition: .5s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 8px 16px;
    background-color: snow;
    border: 1px solid black;
    text-align: center;
}

figure:hover img, figure:hover .projectText {
    opacity: 0.3;
}

.imgHover {
    opacity: 0.3;
}

figure:hover a {
    opacity: 1;
    visibility: visible;
}

.textHover {
    opacity: 1;
    visibility: visible;
}

#meFig img {
    background-color: white;
}

#meFig div { /* The gradient at the bottom */
    position: absolute;
    bottom: 0%;
    padding: 4% 0px;
    z-index: 2;
    text-align: left;
}

#meFig div::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    z-index: -1;
    display:inline-block;
    background-image: linear-gradient(to top, #1a1a1a, transparent);
}

#aboutMeText {
    padding-left: 14px;
    display: inline-block;
    font-size: 15pt;
}

.wall {
    /* background: url("./resources/brickwall.png");
    background-size: 155px 110px; */
    background-color: grey;
    border: 1px solid black;
}