@font-face {
    font-family: "Open Sans";
    src: url(../resources/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Corbel Light";
    src: url(../resources/fonts/Corbel\ Light.TTF);
}

@font-face {
    font-family: "Abuget";
    src: url("../resources/projectIcons/Abuget.ttf") format("truetype");
}

:root {
    --dbs-description-bg-color: rgba(255, 255, 255, .8);
    --dbs-description-title-color: #689e34;
    --dbs-description-text-color: rgb(71, 71, 71);
    --dbs-description-border-color: darkgrey;

    --project-title-text-border-padding: 8px;
}

body {
    display: flex;
    background-color: rgba(245, 245, 245, 0.658);
}

#header {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 6;
}

.headerPanel {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header-l {
    left: 0%;
    z-index: 5;
}

.header-r {
    right: 0%;
}

.header-t {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.873); */
}

#headerBar {
    width: clamp(300px, 100%, 76%);
    width: 100%;
    max-width: 82%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 2px;
    background-color: #f8f8f8a1;
    transition: .65s ease;
}

#headerTitle {
    font: 16pt "Open Sans";
    white-space: nowrap;
    flex: 1;
    transition: .5s;
}

.headerSection {
    margin-left: clamp(0px, calc(100vw * 0.048), 24px);
    font: 16pt Corbel Light;
    text-decoration: none;
    cursor: pointer;
}

#headerTitle, .headerSection {
    font-size: clamp(12pt, 4.5vw, 16pt);
}

.headerSection:visited {
    background-color: initial;
}

.headerIcon {
    margin-bottom: 25px;
}

.headerObjects {
    background-color: rgb(135, 135, 135, .5);
}

.headerLine {
    width: 1px;
    height: 100%;
}

.headerDot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    rotate: 45deg;
    translate: -35% -35%;
}

#headerPicture {
    max-width: 40%;
    position: relative;
    left: 50%;
    translate: -50% -25%;
}

#name, #name::after {
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 0;
    padding-top: 24vh;
    position: relative;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    --glow-color: rgb(237, 241, 250); /* rgba(183, 193, 222, 0.674) */
    text-shadow: 
        0 0 8px var(--glow-color);
}

#name {
    background-image: repeating-radial-gradient(
        circle closest-corner at 100px 300px, 
        dodgerblue, 
        rgb(163, 208, 254) 10%, 
        dodgerblue 20%
    );
    /* background-image: url(../resources/introBackground.jpeg); */
    /* background-size: cover; */
}

#name::after {
    content: "Hello";
    white-space: pre;
    position: absolute;
    /* color: transparent;
    background-clip: unset;
    -webkit-background-clip: unset; */
    top: 0;
    left: -95.2px;
    margin-left: calc(-.5 * clamp(0px, 100vw - 340px, 55.6px));
    width: 100%;
    background-image: repeating-radial-gradient(
        circle farthest-corner at 100px 300px, 
        rgb(21, 123, 225), 
        rgb(152, 195, 239) 10%, 
        /* rgb(157, 198, 240) 10%,  */
        rgb(21, 123, 225) 20%
    );
    /* rgb(181, 215, 248) 10%,  */
    /* rgb(174, 208, 241) 10% */
    z-index: -1;
    opacity: 0;
    animation: h1FadeInAndOut 5.25s infinite;
    animation-delay: 1s;
}

@keyframes h1FadeInAndOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.greetingText {
    font: 32pt "Open Sans";

    /* translate: max((340px - 100vw) / 3, -50px); */
    margin-left: -80px;
}

#name > #occupationIntro {
    font-family: Corbel Light;
    font-size: 24px;
    line-height: 1.6em;
    padding-top: 6px;
    padding-left: clamp(0px, 100vw - 340px, 55.6px);
}

#name > #greeting {
    margin-left: calc(-1 * clamp(0px, 100vw - 340px, 55.6px));
}

#mobilePicture {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 8px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 2px;
    transition: .5s ease;
    background-position: center;
    opacity: 0;
}

#aboutMeHeader {
    padding-bottom: 18px;
}

.overflowHiddenBody {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#car {
    z-index: 5;
    width: 24px;
    height: 48px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

#car:focus-visible {
    outline: none;
}

#carImg {
    max-width: max-content;
    transition: none;
}

.carParts {
    position: absolute;
    max-width: 24px;
    max-height: 24px;
    border: 1px solid transparent;
    transition: .5s ease;
    padding: 3px;
    z-index: 2;
}

.carParts:hover {
    border: 1px solid rgb(255, 229, 83);
    background-color: #fffade;
}

#instructions {
    position: fixed;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border: 1px solid lightgray;
    text-align: center;
    width: 200px;
    height: 100px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.83);
    transition: 1s ease;
    z-index: 5;
    animation: lowerInstructions 1s;
    pointer-events: none;
}

#instructions.hide {
    animation: hideInstructions 1s;
}

@keyframes hideInstructions {
    0% { opacity: 1; top: 280%; }
    100% { opacity: 0; top: 280%; }
}

#instructions.showThenHide {
    animation: showHideInstructions 21s;
}

@keyframes showHideInstructions {
    0% { opacity: 0; pointer-events: auto; top: 50%; }
    4.76% { opacity: 1; pointer-events: auto; top: 280%; } /* 1s with 11s duration */
    95.24% { opacity: 1; pointer-events: auto; top: 280%; }
    100% { opacity: 0; pointer-events: none; top: 280%; }
}

#instructions.showThenHideOnTop {
    animation: showHideInstructionsOnTop 11s;
}

@keyframes showHideInstructionsOnTop {
    0% { opacity: 0; pointer-events: auto; bottom: 50%; }
    9.09% { opacity: 1; pointer-events: auto; bottom: 100%; } /* 1s with 11s duration */
    90.91% { opacity: 1; pointer-events: auto; bottom: 100%; }
    100% { opacity: 0; pointer-events: none; bottom: 100%; }
}

#instructions .translateCenter { /* Instruction message icon and text */
    width: 100%;
}

#instructions .instructionsText {
    font: 12pt Corbel Light;
    display: inline-block;
    position: relative;
    top: -4px;
    margin: 2px 12px;
}

#instructions div #driveText {
    top: -5px;
}

#instructions:hover {
    border: 1px solid gold;
    background: #fffade;
}

#instructions:hover #closeInstructions {
    opacity: 1;
}

#closeInstructions {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    font: 10pt Arial;
    transition: .75s ease;
    opacity: 0;
}

#arrowDownContainer {
    position: absolute;
    right: 3%;
    bottom: 0vh;
    height: 40px;
    animation: upAndDown 2s;
    animation-iteration-count: infinite;
    transition: .5s ease;
    z-index: 2;
}

@keyframes upAndDown {
    0%   {bottom: 1vh;}
    50%  {bottom: 6vh;}
    100% {bottom: 1vh;}
}

#arrowKeys {
    max-width: 40px;
    max-height: 40px;
    padding-top: 5px;
}

#enter {
    max-width: 30px;
    max-height: 30px;
    padding-top: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#content {
    position: relative;
    flex: 1 1 auto;
}

canvas {
    position: absolute;
    left: 0px;
}

#projectGrid {
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-rows: 6% 33% 20% 33% 10%;
    grid-template-columns: 10% 34% 12% 34% 10%;
}

.project {
    position: relative;
}

.project figure {
    overflow: hidden;
}

#projHF {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
}

#projGV {
    grid-column: 4;
    grid-row: 4;
}

#projSF {
    grid-column: 2;
    grid-row: 4;
}

.projectTitle {
    padding-right: var(--project-title-text-border-padding);
    border-right: 1px solid white;
}

.projectText {
    font: 24px Corbel Light;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectBackground, .projectText {
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.projectDescrip {
    font-size: 16px;
    padding-left: var(--project-title-text-border-padding);
}

.projectTools {
    margin-top: 6px;
    color: dimgrey;
}

#projHF .quickAccessAccount {
    position: absolute;
    top: 100%;
    right: 0%;
    transform: translateY(-100%);
    background-color: white;
    border: 1px solid black;
    border-top-width: 0px;
    font: 10pt Arial;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: .5s ease;
    z-index: 0;
    pointer-events: none;
}

#projHF:hover .quickAccessAccount {
    opacity: 1;
    transform: translateY(0%);
}

#projHF .showAccount {
    opacity: 1;
    transform: translateY(0%);
}

#hiddenFields .projectBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../resources/projectIcons/justNotebook.png), url(../resources/projectIcons/thoughtweb.jpg);
    background-size: 300px 500px, cover;
    background-position: center, 0;
    background-repeat: no-repeat, no-repeat;
    z-index: -1;
}

#hiddenFields .projectText {
    /* display: block; */
    /* padding-left: 14px; */
    background-color: rgb(0, 0, 0, .2);
    line-height: 18pt;
    /* padding-top: 18px; */
}

#hiddenFields .projectText .font-abuget {
    position: relative;
    /* top: 5px; */
    font-size: 24pt;
    padding-right: 12px;
}

#hiddenFields .projectText .projectDescrip {
    border-left: 1px solid darkgrey;
    /* padding-left: 0; */
    font-family: Corbel Light;
    color: #f2fff7; /* #e1ffec; /* #b6ffcf; /* rgb(156, 156, 156) */
}

#hiddenFields .projectHoverContainer .projectLinkHover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    margin-top: 4px;
    margin-bottom: 2px;
    width: max-content;
}

#hiddenFields .projectLinkHover .projectHoverContainer .projectLink {
    display: flex;
}

#hiddenFields .projectLinkHover .projectHoverContainer .projectLink .font-abuget {
    display: inline-block;
    height: 16px;
}

#graphVisualizer .projectBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 12, 250, .84);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-image: url(../resources/projectIcons/graph\ rep3.png);
}

#graphVisualizer .projectTitle {
    border-color: darkgrey;
}

#graphVisualizer .projectText {
    background-color: rgb(0, 0, 224);
}

#graphVisualizer .projectText .projectDescrip {
    color: #e1e1fd;
}

#snowFinder img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0%;
    z-index: -1;
    background-color: #7f705b;
    box-shadow: 0 0 5px 10px #7f705b;
}

#snowFinder .projectText {
    max-width: calc(100% - 26px);
    padding-left: 13px;
    padding-right: 13px;
}

#snowFinder .projectText {
    color: var(--dbs-description-title-color);
    background-color: var(--dbs-description-bg-color);
}

#snowFinder .projectText .projectTitle {
    border-color: var(--dbs-description-border-color);
    font-weight: bold;
}

#snowFinder .projectText .projectDescrip {
    color: var(--dbs-description-text-color);
}

figure {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid dimgray;
    margin: 0;
    background-color: lightgrey;
    border-radius: 4px;
}

figure .projectLinkHover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
    z-index: 2;
}

figure .projectLinkHover .projectHoverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Corbel Light;
    position: absolute;
    padding: 16px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: 1px solid darkgrey;
    text-align: center;
    color: black;
    z-index: -1;
}

figure .projectLinkHover .projectHoverContainer .projectLink {
    border-bottom: 1px solid darkgrey;
    line-height: 1em;
    color: royalblue;
}

figure:hover .projectLinkHover,
figure.hover .projectLinkHover {
    opacity: 1;
}

figure:hover .projectBackground, 
figure:hover .projectText,
figure.hover .projectBackground, 
figure.hover .projectText {
    opacity: 0.3;
}

#graphVisualizer:hover .projectText,
#graphVisualizer.hover .projectText {
    background-color: rgba(0, 0, 224, .2);
}

#meFig img {
    background-color: white;
}

#meFig div { /* The gradient at the bottom */
    position: absolute;
    bottom: 0%;
    padding: 4% 0px;
    z-index: 2;
    text-align: left;
}

#meFig div::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    z-index: -1;
    display:inline-block;
    background-image: linear-gradient(to top, #1a1a1a, transparent);
}

#aboutMeText {
    padding-left: 14px;
    display: inline-block;
    font-size: 15pt;
}

.wall {
    /* background: url("./resources/brickwall.png");
    background-size: 155px 110px; */
    background-color: grey;
    border: 1px solid black;
}

.aboutMeSection {
    padding-bottom: 40px;
}

.aboutMeSection .content {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    border: 1px solid darkgray;
    border-radius: 4px;
    overflow: hidden;
}

#bigPicture {
    position: relative;
    height: 70vh;
    padding: 25px;
    box-sizing: border-box;
    background: unset;
    border: none;
}

#bigPicture div {
    background-image: url("../resources/Portrait2.jpg");
    filter: brightness(1.18);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s ease;
}

#bigPicture:hover div {
    opacity: 1;
}

.bioContent {
    position: relative;
    padding: 25px;
    font: 16pt Corbel Light;
    width: 100%;
    height: 70vh;
    background-color: #f0f0f0;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
    display: table;
    border-radius: 4px;
}

.bioContent > div {
    display: table-cell;
    vertical-align: middle;
}

.bioContent > div * {
    margin: 1.3em 0;
}

#OCALinkBioContent {
    text-decoration: none;
}

.footerPhrase {
    font-family: 'Corbel Light';
    padding: 40px 30px;
    padding-bottom: 0;
    text-align: center;
    position: relative;
}

.author {
    position: relative;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 888px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    #bigPicture {
        padding: 30px;
        height: 70vw;
    }

    .bioContent {
        height: unset;
    }

    #graphVisualizer img {
        display: none;
    }
}

@media (max-width: 717px) {

    .nameFadeTo {
        background-image: repeating-radial-gradient(
            circle farthest-corner at 100px 300px, 
            rgb(21, 123, 225), 
            rgb(169, 212, 255) 10%, 
            rgb(57, 156, 255) 20%
        );
    }

    #hiddenFields {
        background-position-y: center, 0;
    }

    #projectGrid {
        height: 120vh;
        grid-template-rows: 6% 24% 8% 24% 8% 24% 6%;
    }

    #projSF {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row: 4;
    }

    #projGV {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row: 6;
    }

    #graphVisualizer img {
        display: block;
        max-width: 120px;
    }

    #bigPicture div {
        background-image: url("../resources/Faceshot2.jpg");
        filter: brightness(1.04);
    }
}

@media (max-width: 652px) {
    
    .projectText {
        font-size: 20px;
    }

    .header-l, .header-r {
        display: none;
    }

    .footerPhrase {
        padding-top: 0;
    }

    #footerLinkContainer {
        display: flex;
    }
} 

@media (max-width: 500px) {

    .header-t {
        justify-content: flex-start;
    }

    #headerBar {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    #name, #name::after {
        padding: 24vh 0;
        font-size: 24pt;
    }

    #name::after {
        left: -71.4px;
    }

    #name > #occupationIntro {
        font-size: 20px;
    }

    .greetingText {
        margin-left: 0;
    }

    #greetingContainer {
        height: auto;
    }

    #mobilePicture {
        background-image: url("../resources/Faceshot2.jpg");
        filter: brightness(1.08);
        background-size: calc(100% - 16px) calc(100% - 16px);
        background-repeat: no-repeat;
        position: relative;
        top: -76px;
        opacity: 1;
    }

    #projectHeader {
        padding-bottom: 0;
    }

    #bigPicture {
        height: 0;
        padding: 0;
    }

    #longVersion p:first-child {
        margin-top: 0;
    }

    #longVersion p:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 295px) {
    #name::after {
        content: '';
    }
}